services:
  client1:
    tty: true
    stdin_open: true 
    container_name: client1c
    build: .
    privileged: true
    networks:
      - network5
      - network6   
    command: sh -c "ip route delete default 
                    && ip rule add from 10.1.1.3 table 1
                    && ip rule add from 10.1.2.3 table 2
                    && ip route add 10.1.1.0/24 dev eth0 scope link table 1
                    && ip route add 10.1.2.0/24 dev eth1 scope link table 2
                    && ip mptcp limits set subflow 2 add_addr_accepted 2
                    && ip mptcp endpoint add 10.1.2.3 dev eth1 signal
                    && tail -f /dev/null"
    cap_add: 
      - NET_ADMIN
  client2:
    container_name: client2c
    tty: true
    stdin_open: true 
    privileged: true
    build: .
    networks:
      - network5
      - network6
    command: sh -c "ip route delete default
                    && ip rule add from 10.1.1.2 table 1
                    && ip rule add from 10.1.2.2 table 2
                    && ip route add 10.1.1.0/24 dev eth0 table 1
                    && ip route add 10.1.2.0/24 dev eth1 table 2
                    && ip mptcp limits set subflow 2 add_addr_accepted 2
                    && ip mptcp endpoint add 10.1.2.2 dev eth1 signal
                    && tail -f /dev/null" 
    cap_add: 
      - NET_ADMIN

networks:
  network5:
    driver: bridge
    ipam:
      config:
        - subnet: "10.1.1.0/24"
  network6:
    driver: bridge
    ipam:
      config:
        - subnet: "10.1.2.0/24"
